#head{
    min-width:1200px;
    padding:24px  0px;
}
.nav,.box{
    width:1160px;
    margin:0 auto;
}
.box::before{
    content:"";
    display: table;
}
.nav img{
    height:56px;
}
.nav ul{
    list-style:none;
    float:right;
}
.nav>ul>li{
    float:left;
    margin:0 20px;
    position:relative;
}
.nav a{
    text-decoration:none;
    cursor:pointer;
}
.nav>ul>li>a{
    display:block;
    padding:10px 0;
    color:#000;
}
.nav>ul>li>a:hover,.nav>ul>li:first-child>a{
    color:#00aeef;
    border-bottom:2px solid #00aeef;
}
.nav>ul>li.custom:hover>ul.jil{
    opacity: 1;
}
.nav>ul>li.custom:hover>ul.jil li a{
    height:36px;
    line-height: 36px;
}
.nav ul.jil{
    opacity: 0;
    width:181px;
    border:1px solid #ccc;
    position:absolute;
    top:43px;
    left:-20px;
    padding:0;
    background:#fff;
    transition:all 0.2s;
}
.nav ul.jil>li>a{
    display:block;
    color:#333;
    font-size:14px;
    padding:0 20px;
    height:0;
    line-height:0;
    transition:all 0.5s;
}
.nav ul.jil>li>a:hover{
    background:#ccc;
}
/**第二层*/
#content{
    min-width:1200px;
    height:825px;
    background:url("../img/3917_jdbaxb26.jpg") no-repeat 50% 50%;
    background-size:cover;
}
#content:before{
    content:"";
    display:table;
}
#content>.box>.intro{
    width:707px;
    height:215px;
    margin-top:230px;
    position:relative;
    overflow: hidden;
    animation:animate 1s;
}
@keyframes animate {
    0%{
        opacity:0;
        transform:translate3d(0,100%,0);
    }
    100%{
        opacity:1;
        transform:none;
    }
}
#content .intro>.info{
    color:rgb(255,255,255);
    width:100%;
    position:absolute;
    top:0;
    left:0;
    transition:all 1s;
}
#content .intro>.info>h1{
    font-size:36px;
    line-height:80px;
}
#content .intro>.info>p{
    font-size:18px;
    margin-bottom:8px;
    word-wrap:break-word;
}
#content .intro>.info a{
    display:block;
    width:120px;
    margin-top:40px;
    padding:8px 0px;
    background:#fff;
    color:#298bf0;
    border-radius:20px;
    text-align: center;
    cursor:pointer;
}
#content .intro>.bb{
    left:707px;
}
#content .ind{
    margin:30px 0px 0px 20px;
}
#content .ind span{
    display:block;
    float:left;
    width:11px;
    height:11px;
    border:2px solid #fff;
    border-radius:50%;
    margin-right:10px;
}
.active{
    background:#fff;
}
/*第3层*/
#layer{
    width:100%;
    height:1521px;
    background:url("../img/3917_jdbbe20e.png") no-repeat 50% 50%;
    background-size:cover;
}
#layer::before{
    content:"";
    display:table;
}
.d-top{
    display:flex;
    justify-content: space-between;
    margin-top:106px;
    padding-bottom:50px;
}
.d-top>div{
    width:580px;   
}
.d-top .aleft1s{
    animation: fadeInLeft 1s;
}
.d-top .aleft2s{
    animation: fadeInLeft 2s;
}
.d-top .aleft3s{
    animation: fadeInLeft 3s;
}
.d-top .aright1s{
    animation: fadeInRight 1s;
}
.d-top .aright2s{
    animation: fadeInRight 2s;
}
.d-top .aright3s{
    animation: fadeInRight 3s;
}
/*统一的标题*/
h1.title{
    margin-bottom: 21px;
    font-size:36px;
    font-weight:normal;
    visibility: hidden;
}
/*标题中 凸出显示文字*/
.h-protrude{
    color:rgb(245, 139, 63);
}
.h-descrip{
    font-size:16px;
    color:#999;
    line-height:26px;
    visibility: hidden;
}
.h-descrip+a{
    display:block;
    margin-top:38px;
    visibility: hidden;
}

@keyframes fadeInLeft{
    0%{
        opacity:0;
        transform: translate3d(-100%,0,0);
    }
    100%{
        opacity:1;
        transform: translate3d(0,0,0);
    }
}
@keyframes fadeInRight{
    0%{
        opacity:0;
        transform: translate3d(100%,0,0);
    }
    100%{
        opacity:1;
        transform: translate3d(0,0,0);
    }
}
.f2>div:first-child{
    visibility: hidden;
}
.f2>.aright>ul.yun{
    list-style: none;
    display:flex;
    justify-content: space-around;
    width:360px;
    flex-wrap: wrap;
    visibility: hidden;
}
.f2>.aright>ul.yun>li{
    width:100px;
    text-align:center;
    margin-top:30px;
}
.f2>.aright>ul.yun>li>img{
    width:45px;
    margin-bottom:20px;
}
.f2>.aright>ul.yun>li>p{
    color:rgb(245, 139, 63);
}
.f3>.a1>ul{
    display:flex;
    justify-content: flex-start;
    list-style:none;
    margin-top:40px;
}
.f3>.a1>ul>li{
    margin:0 30px;
    text-align:center;
}
.f3>.a1>ul>li>span{
    font-family: Impact, Charcoal, sans-serif; 
    color: rgb(245, 139, 63); 
    font-size: 36px;
}
.f3>.a1>ul>li>p{
    color: rgb(102, 102, 102);
    margin-top:15px;
}
.f3>.a1+div{
    visibility: hidden;
}
.animate1s{
    animation: animate 2s; 
}
.animate2s{
    animation: animate 3s; 
}
.animate3s{
    animation: animate 5s; 
}
/*精英层-cream*/
#cream{
    /* height:900px;  */
    background:#fff url("../img/1587_jgzx3s67.png") no-repeat -300px top;
    margin-top:-43px;
}
#cream:before{
    content:"";
    display:table;
}
#cream>.box>.summary{
    text-align:center;
    color:#fff;
    margin-top:173px;
}
#cream>.box>.summary>h1{
    color:#fff;
    padding-bottom:10px;
}
#cream>.box>.summary>p{
    line-height:26px;
}
#cream>.box>.personage{
    height:490px;
    margin-top:56px;
    /*border:1px solid #000;*/
    overflow:hidden;
    position:relative;
}
#cream>.box>.personage>a{
    display:block;
    width:40px;
    height:60px;
    background:red;
    text-align:center;
    line-height:60px;
    position: absolute;
    top:50%;   
    margin-top:translateY(-50%);
}
#cream>.box>.personage>a.left{
    left:10px;
}
#cream>.box>.personage>a.right{
    right:10px;
}
#cream>.box>.personage>ul{
    width:2000px;
    height:100%;
    margin-left:0px;
    transition:all 3s;
}
#cream>.box>.personage .entity{
    width:284px;
    height:410px;
    background:#fff;
    border-radius:8px;
    box-shadow:5px 8px 15px rgba(0,0,0,0.05);
    padding:30px 40px 40px 40px;
    margin:0 10px;
    float:left;
    text-align:center;
}
#cream .entity>img{
    width:188px;
    margin-bottom:30px;
    margin-top:10px;
}
#cream .entity>p{
    color:rgb(102, 102, 102);
}
#cream .entity>p:nth-child(2){
    font-size:18px;
}
#cream .entity>p:nth-child(2) span{
    font-size:22px;
}
#cream .entity>p:nth-child(3){
    margin-top:16px;
    font-size: 14px;
    line-height:20px;
    margin-bottom:40px;
}
.btn{
    display:inline-block;
    width:120px;
    height:36px;
    line-height:36px;
    text-align:center;
    border:1px solid rgb(39,146,240);
    font-size: 14px;
    border-radius:20px;
    color:rgb(12, 33, 51);
}
.btn:hover{
    background:rgb(39,146,240);
    color:#fff;
}
#cream>.box>.indi{
    height:150px;
}
#cream>.box>.indi::before{
    content: "";
    display:table;
}
#cream>.box>.indi>ul{
    width:120px;
    margin:0 auto;
    margin-top:35px;
}
#cream>.box>.indi>ul>li{
    width:30px;
    height:5px;
    background:#CCE4F3;
    float:left;
    margin-right:5px;
    margin-left:5px;
}
#cream>.box>.indi>ul>li.active{
    background:#3393CD;
}
/*新闻层*/
#news{
    height:480px;
}
#news>.box{
    display:flex;
    justify-content: space-between;
}
#news>.box>.theme{
    width:483px;
    margin-top:102px;
}
#new>.box>.list{
    width:650px;
}
#news>.box>.theme>a.btn{
    margin-top:50px;
}
#news>.box>.theme>h1{
    margin-bottom:15px;
}
#news>.box>.list>ul>li{ 
    width:650px;
    padding:10px;
}
#news>.box>.list>ul>li>div{
    padding:20px;
    border-radius: 8px;
    box-shadow:2px 2px 6px 2px rgb(247,247,247);
}
#news li h2{
    font-size:22px;
    color:rgb(102, 102, 102);
    font-weight: normal;
}
#news li p{
    font-size:14px;
    margin:8px 0;
    color:#999;
}
#news li span{
    color:rgb(204,204,204);
    font-size:14px;
}
/*合作商*/
#partner{
    height:442px;
    background:url("../img/1587_jgzx6ox4.png") no-repeat;
    background-position:-300px 0;
}
#partner::before{
    content:"";
    display: table;
}
#partner>.box>.p-logo{
    display:flex;
    flex-flow: nowrap;
    justify-content: space-between;
    margin-top:246px;
}
#partner>.box>.p-logo>img{
    width:145px;
    height:75px;
}
/*页脚*/
#footer{
    background-color:rgb(38, 38, 38);
    margin-top:-30px;
    font-size:14px;
    color:rgb(187, 187, 187);
}
#footer>.box>.content{
    display:flex;
    flex-flow:nowrap;
    justify-content: space-between;
}
#footer a{
    color:rgb(187, 187, 187);
}
#footer>.box>.content h2{
    color:#fff;
    font-weight:normal;
    font-size:18px;
    line-height: 40px;
    margin-bottom:5px;
}
#footer>.box>.content{
    margin-top:50px;
}
#footer>.box>.content li{
    line-height:30px;
}
#footer>.box>.content>div:nth-child(4) li{
    margin-top:15px;
}
#footer>.box>.content>div:nth-child(4) img{
    margin-right:12px;
    vertical-align: middle;
}
#footer>.box>.content>div:last-child>img{
    width:120px;
    height:120px;
    margin-bottom:18px;
}
#footer>.box>.content>div:last-child{
    text-align:center;
}
#footer>.box>.copyright{
    margin-top:50px;
    border-top:1px solid rgb(68, 68, 68);
    text-align:center;
    padding:20px 0 30px 0;
}
div.page>ul>li{
	float:left;
	border:1px solid #000;
	padding:0px 10px;
	line-height:26px;
	cursor:pointer;
}
div.page{
	display:flex;
	justify-content:center;
}




















